{{#if siteSettings.site_activity_enabled}}

  {{#unless currentUser.hide_site_activity}}

    <div class="{{unless showFooter 'hidden'}}">
      {{whats-going-on-box}}
    </div>

  {{/unless}}

{{/if}}