{{#if siteSettings.site_activity_enabled}}
  <div class="controls">
    <label class="checkbox-label">
      {{input type="checkbox" checked=model.custom_fields.hide_site_activity}}
      {{i18n "whats_going_on.hide_site_activity"}}
    </label>
  </div>
{{/if}}