.wgo-box {
  border: 3px solid $primary_low;
}

.wgo-main {
  border-top: 3px solid $primary_low;
}

.wgo-title, .wgo-main {
  padding: 20px;
}

.wgo-users {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wgo-current-online, .wgo-most-online {
  color: $primary_high;
  margin: 0;
}

.wgo-users {
  color: $primary_medium;
}

.wgo-user {
  color: $primary_medium;

  &:hover, &:visited, &:focus {
    color: $primary_high;
  }

  &:hover {
    font-weight: bolder;
  }
}

.wgo-user-self {
  font-weight: bold;
}

.wgo-view-all {
  font-weight: bold;
  color: $primary_high;

  a {
    color: $primary_high;

    &:hover, &:visited, &:focus {
      color: $primary;
    }
  }
}